{% extends 'base.html.twig' %}

{% block title %}Auther index{% endblock %}

{% block body %}
    <h1>Auther index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Nationalite</th>
                <th>Date_naissance</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for auther in authers %}
            <tr>
                <td>{{ auther.id }}</td>
                <td>{{ auther.nom }}</td>
                <td>{{ auther.nationalite }}</td>
                <td>{{ auther.dateNaissance ? auther.dateNaissance|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_auther_show', {'id': auther.id}) }}">show</a>
                    <a href="{{ path('app_auther_edit', {'id': auther.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_auther_new') }}">Create new</a>
{% endblock %}
